
.ToDo {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    
  }
  
  .text {
    font-size: 24px;
    font-weight: bold;
  }
  
  .todo-item { 
    margin-top: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
  }
  